@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900,&display=swap');
*
{
    padding: 0;
    margin: 0;
}
section
{
    height: 100%;
    background-image: linear-gradient(rgb(0,0,0,0.3),rgb(0,0,0,0.3)),url(images/7.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 50px;
}
section img
{
    width: 200px;
    float: left;
}
/*section h1
{
    padding-top: 50px;
    padding-bottom: 50%;
    font-size: 55px;
}*/
.container
{
    position: relative;
    width: calc(100% - 100px);
    min-height: calc(100vh - 280px);
    min-height: 300px;
    background: rgba(255,255,255,0.5);
    box-shadow: 0 15px 35px rgba(255,255,255,0.05);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px; 
}
header
{
    position: absolute;
    top: -40px;
    right: 20px;
    left: 20px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255,255,255,0.3);
    box-shadow: 0 15px 35px rgba(255,255,255,0.05);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.25);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1pzx solid rgba(255,255,255,0.5);
}
header .logo
{
    color: #8a2435;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
}
header ul
{
    display: flex;
}
header ul li
{
    list-style: none;
    margin: 0 10px;
}
header ul li a
{
    text-decoration: none;
    font-weight: 500;
    color: #8a2435;
    padding: 8px 15px;
    border-radius: 25px;
}
header  ul li a:hover, header ul li a.active
{
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.content
{
    transform: translate(-100px);
    max-width: 500px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0,25);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    padding: 80px;
    padding-left: 100px;
}
.content h2
{
    font-size: 2em;
    color: #8a2435;
}
.content p
{
    font-size: 1.2em;
    color: #8a2435;
}
.imgBx img
{
    max-width: 400px;
}

/*.form-control
{
    border: 0 !important;
    border-radius: 30px !important;
    margin: 2px;
    box-shadow: none !important;
}
.input-group-text
{
    width: 100px;
    background-image: linear-gradient(#00ff7e,#1f3d90);
    border: 0 !important;
    color: #fff !important;
    padding: 0 25px !important;
    border-radius: 30px !important;
    box-shadow: none !important;
}*/

/*features*/
/*.features
{
    padding: 100px 0;
}
h1
{
    text-align: center;
    padding-bottom: 30px;
}*/
/*.feature-img img
{
    width: 100%;
}*/
/*.feature-img 
{
    position: relative;
}
.price
{
    width: 50px;
    height: 50px;
    background: #ff5722;
    color: #fff;
    font-weight: 600;
    border-radius: 50%;
    box-shadow: 0 0 10px 1px rgba(37,37,214,0.18);
    position: absolute;
    left: 20px;
    bottom: -50px;
}
.rating
{
    padding: 3px;
    float: right;
    background: #fff;
    bottom: -1px;
    right: 0;
    position: absolute;
}
.feature .fa 
{
    font-size: 15px;
    color: #ff5722;
}
.feature-details
{
    padding: 20px;
    text-align: justify;
}
.feature-details h4
{
    margin-right: 5px;
}
.feature-box
{
    box-shadow: 0 0 10px 1px rgba(37,37,214,0.18);
    margin-bottom: 30px;
}
.gallery
{
 padding: 100px 0;
 background: #efefef;   
}
.gallery-box img
{
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}
.gallery-box img: hover
{
    transform: scale(1.1);
}
.gallery-box h4
{
    display: block;
    color: #fff;
    text-shadow: -2px 2px 2px #000;
    font-weight:600;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.gallery-box
{
    position: relative;
    margin-bottom: 30px;
}*/